.body{
    font-family: 'Poppins', sans-serif;
} 

#banner{
    padding: 12%;
    margin: 0px;
    min-height: 500px;
    max-height: 600px;
    background: rgb(255,203,173);
    background: linear-gradient(204deg, rgba(255,203,173,1) 0%, rgba(255,187,255,1) 47%, rgba(255,221,133,1) 76%, rgba(243,255,155,1) 100%);
}

#banner2{
    padding: 12%;
    margin: 0px;
    min-height: 400px;
    max-height: 500px;
}

#banner1{
    padding: 12%;
    margin: 0px;
    min-height: 400px;
    max-height: 500px;
    background-color: white;
}


#navbar{
    background-color: lightslategrey;
    padding-left: 32%;
    padding-right: 32%;
}

#titleCont{
    width: 100%;
    text-align: center;
    color: #fff;
}
